body{
}

.image-container{
  background-color: red;
  display: flex;
  justify-content: center;
}

.image-holder{
  min-width: 40px;
  display: flex;
  background-color: green;
}

.image-holder img{
  width: 100%;
}