@media screen{
 .first-header-section-big{
    display: flex;
    background-color: #0f1822;
    height: 60px;
    align-items: center;
  }
  .first-grid-big{
    display: flex;
    height: 50px;
    margin-left: 8px;
  }

  .imgae-holder-big{
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgae-holder-big img{
    width: 90%;
  }
  .deliver-to-nigeria-big{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
  }
  .location-icon{
  }
  .location-icon i{
    color: white;
    margin-top: 5px;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 3px;
  }
  .deliver-to-paragraph{
  }
  .deliver-to-paragraph .para1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 0.7rem;
    color: #CCCCCC;
  }
  .deliver-to-paragraph .para2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: #FFFFFF;
    
  }


  /*  */
  .searh-holder{
    display: flex;
    /* background-color: green; */
    flex: 1;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    border-radius: 5px;
  }
  .searh-holder input{
    max-width: 624.5px;
    height: 40px;
    flex: 1;
    width: 0;
  }
  .select{
    background-color: #e2e2e2;
    height: 44px;
    width: 55px;
    border-radius: 6px 0 0 6px;
    color: rgb(80, 80, 80);
    font-size: 13px;
  }
  .search-icon-holder{
    /* background-color: red; */
    height: 44px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 189, 67) ;
    border-radius: 0 6px 6px 0;
    margin-left: -2px;
  }



  /* last-layer-of-first-header */
  .last-layer-of-first-header{
    /* background-color: red; */
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
  }
  /* country-flag */
  .country-flag{
    /* background-color: pink; */
    display: flex;
    width: 55px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .country-flag img{
    width: 21px;
    height: 10px;
  }
  .para-country p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 1000;
    color: #FFFFFF;
  }
  /* user-info-holder */
  .user-info-holder{
    height: 50px;
    padding-left: 6px;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .user-info-holder .para1{
    margin: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color:white;
  }
  .user-info-holder .para2{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 0.8rem;
    color: #FFFFFF;
  }
  /* return */
  .return{
    padding-left: 4px;
    padding-right: 4px;
    height: 50px;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4px;
  }
  .return .para1{
    margin: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color: white;
  }
  .return .para2{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 0.8rem;
    color: #FFFFFF;
  }
  /* note! this property is meant for hover effect in the page for some container that needes border effect when hovered */
  .border-white{
    border:1.5px solid transparent;
  }
  .border-white:hover{
    border: 1.9px solid white;
    border-radius: 2px; 
  }
  /* cart-container */
  .cart-container{
    display: flex;
    height: 50px;
    /* background-color: green; */
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
  }
  .cart-container img{
    width: 45px;
    height: 30px;
    margin-top: 10px;
  }
  .cart-container p{
    margin-top: 25px;
    color: white;
  }
  /*  */
  .second-header-section-big{
    width: 100%;
    height: 39px;
    background-color: #232F3E;
    display: flex;
  }
  .image-and-all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
    width: 50px;
    height: 90%;
  }
  .image-and-all img{
    height: 17px;
    width: 20px;
  }
  .image-and-all p{
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
  }
  .paragraph-container{
    display: flex;
    flex: 1;
    align-items: center;
  }
  .paragraph-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 90%;
    margin: 0;
  }

  /* main-container-holder */
  .main{
    width: 100%;
  }
  /* image-container */
  .background-image-container-big{
    min-width: 100%;
    height: 600px;
  }
  /* image */
  .background-image-container-big img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* product-container */
  .product-container-all{
    width: 100%;
    background-color: rgb(231, 229, 229);
    box-shadow: 0 -150px 50px rgb(231, 229, 229);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* product-holder */
  .container-product{
    width: 100%;
    /* position: relative;
    top: -370px; */
    margin-top: -390px;
    padding: 15px;
  }
  /* grid */
  .container-grid-product-big{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 20px;
  }
  /* prduct-body */
  .product-container-big{
    background-color: white;
    width: 100%;
    /* max-width: 320.67px;
    min-width: 299.65; */
    padding-top: 8px;
    padding-bottom: 8px;
  }
  /* image-holder */
  .decript-grid-para{
    width: 100%;
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    margin: 0;
    justify-content: center;
    color: rgb(19, 19, 19);
  }
  .decript-grid-para p{
    margin-bottom: 5px;
  }

  /* disappear */
  .disappear{
    display: none;
  }

  .image-grid-holder{
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 12px;
  }
  .image-grid-holder .div-con{
    background-color: rgb(247, 245, 245);
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px ;
    padding-top: 10px;
    display: flex;
  }
  .image-grid-holder p{
    margin: 4px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .image-grid-holder img{
    width: 100%;
    mix-blend-mode: multiply;
  }
  /* see-more */
  .see-more{
    display: flex;
    align-items: center;
    height: 40px;
  }
  .see-more:hover{
    text-decoration: underline;
    color:  #007185;
  }
  .see-more a{
    position: relative;
    left: 20px;
    text-decoration: none;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    color: #007185;
  }

  /* items-yoy-might-like */
  .might-like-holder{
    width: 100%;
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* insired */
  .insired{
    display: flex;
    align-items: center;
    /* height: 50px ; */
    background-color: white;
    padding-bottom: 8px;
  }
  .insired p{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-left: 10px;
  }
  .insired a{
    color: #007185;
    margin-left: 10px;
    margin-top: 5px;
    text-decoration: none;
  }
  .items-you-might-like{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
  }
  .image-slider-holder{
    display: flex;
    height: 220px;
    column-gap: 10px;
    overflow-x: scroll;
  }
  .image-slider-holder img{
    width: 100%;
    flex: 1;
  }
  /* pointer-code */
  .left-pointer{
    display: flex;
    align-items: center;
    position: absolute;
    color: black;
    height: 85px;
    width: 50px;
    background-color: white;
    border-radius: 0 8px 8px 0;
  }
  .left-pointer i{
    font-size: 33px;
    margin-left: 5px;
  }
  .right-pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 14px;
    color: black;
    height: 85px;
    width: 50px;
    background-color: white;
    border-radius: 8px 0 0 8px;
  }
  .right-pointer i{
    font-size: 33px;
    margin-left: 15px;
    color: #0f1822;
  }
  /* .tall-end-nav{
    position: relative;
    z-index: 30;
    margin-top: -360px;
    height: 230px;
  } */
}












/* only changed the image-grid-holder */
@media screen and (max-width:1240px){
  .container-grid-product-big{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 20px;
  }
  .last-layer-of-first-header{
    width: 398px;
  }
  .searh-holder{
    padding-left: 15px;
    padding-left: 15px;
  }
  .disappear{
    display: block;
  }
}
@media screen and (max-width:1150px){
    /*search-holder*/
  .searh-holder{
    padding-left: 6px;
    padding-right: 6px;
  }
  /* last-layer-of-first-header */
  .last-layer-of-first-header{
    width: 340px;
  } 
  .user-info-holder .para2{
    font-size: 0.7rem;
  }
  /* return */
  .return{
    padding-left: 2px;
    padding-right: 2px;
  }
  .cart-container p{
    display: none;
  }
  /* main-container-holder */
  /* grid */
  .container-grid-product-big{
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* disappear */
  .disappear{
    display: block;
  }
}
@media screen and (max-width:1020px){
  /*search-holder*/
  .searh-holder{
    padding-left: 6px;
    padding-right: 6px;
  }
  .searh-holder input{
    max-width: 624.5px;
    height: 38px;
    flex: 1;
    width: 0;
  } 
  .user-info-holder .para2{
    margin: 0;
    font-size: 0.7rem;
  }
  /* return */
  .return{
    padding-left: 2px;
    padding-right: 2px;
    height: 50px;
    margin-left: 4px;
  }
  .cart-container img{
    width: 45px;
    height: 30px;
    margin-top: 10px;
  }
  .cart-container p{
    display: none;
  }

  /* main-container-holder */
  /* grid */
  .container-grid-product-big{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 20px;
  }
  /* disappear */
  .disappear{
    display: block;
  }
  .image-grid-holder{
    
  }
  .image-grid-holder div{
    
  }
}
@media screen and (max-width:950px){
  .last-layer-of-first-header{
    width: 325px;
  }
  .imgae-holder-big{
    display: flex;
    align-items: center;
    width: 80px;
  }
  .imgae-holder-big img{
    width: 100%;
  }
  .deliver-to-nigeria-big{
    padding-left: 3px;
    padding-right: 0;
  }
  .country-flag{
    display: flex;
    width: 50px;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 1px;
    padding-right: 1px;
  }
  
  .country-flag img{
    width: 18px;
    height: 10px;
    margin-right: 2px;
  }
  .para-country p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 1000;
    color: #FFFFFF;
  }
}
@media screen and (max-width:900px){
  .first-grid-big{
    margin-left: 5px;
  }
  .imgae-holder-big{
    width: 90px;
  }
  .imgae-holder-big img{
    width: 90%;
  }
  .deliver-to-nigeria-big{
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
  }
  .deliver-to-paragraph .para1{
    font-size: 0.67rem;
  }
  .deliver-to-paragraph .para2{
    font-size: 0.8rem;
  }
  /* last-layer-of-first-header */
  .last-layer-of-first-header{
    width: 289px;
  }
  /* country-flag */
  .country-flag{
    width: 50px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .country-flag img{
    width: 19px;
  }
  .para-country p{
    font-size: 9px;
  }
  /* user-info-holder */
  .user-info-holder{
    height: 50px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .user-info-holder .para1{
    margin: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    color:white;
  }
  .user-info-holder .para2{
    font-size: 0.65rem;
  }
  /* return */
  .return{
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
  }
  .return .para1{
    font-size: 0.6rem;
  }
  .return .para2{
    font-size: 0.65rem;
  }
  /* cart-container */
  .cart-container{
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 2px;
  }
  .cart-container img{
    width: 35px;
    height: 23px;
    margin-top: 15px;
  }
    /* second-header-section-big */
  .image-and-all{
    padding-left: 6px;
    padding-right: 3px;
  }
  .image-and-all img{
    height: 15px;
    width: 18px;
  }
  .image-and-all p{
    margin-left: 7px;
    font-size: 13px;
  }
  .paragraph-container p{
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    height: 80%;
    margin: 0;
  }


  /* items-yoy-might-like */
  .might-like-holder{
    width: 100%;
  }
  /* insired */
  .insired p{
    font-size: 17px;
  }
  .items-you-might-like{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
  }
  .image-slider-holder{
    display: flex;
    height: 170px;
    column-gap: 10px;
    overflow-x: scroll;
  }
  .image-slider-holder img{
    width: 100%;
    flex: 1;
  }
  /* pointer-code */
  .left-pointer{
    height: 60px;
    width: 40px;
  }
  .left-pointer i{
    font-size: 33px;
  }
  .right-pointer{
    height: 60px;
    width: 40px;
  }
  .right-pointer i{
    font-size: 33px;
  }
  .decript-grid-para{
    font-size: 16px;
  }
  /* background-image-container */
  .background-image-container-big{
    height: 500px;
  }
  .container-product{
    top: -310px;
  }
  /* .tall-end-nav{
    position: relative;
    z-index: 30;
    margin-top: -300px;
    height: 230px;
  } */
}
@media screen and (max-width:800px) {
  .first-header-section-big{
    height: 45px;
  }
  .first-grid-big{
    height: 40px;
    margin-left: 2px;
  }
  .imgae-holder-big{
    width: 70px;
  }
  .imgae-holder-big img{
    width: 90%;
  }
  .deliver-to-paragraph .para1{
    font-size: 0.6rem;
  }
  .deliver-to-paragraph .para2{
    font-size: 0.7rem;
  }
  /*  */
  .searh-holder{
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .searh-holder input{
    height: 45px;
  }
  .select{
    height: 45px;
  }
  .search-icon-holder{
    height: 45px;
  }
  /* last-layer-of-first-header */
  .last-layer-of-first-header{
    /* background-color: red; */
    width: 276px;
  }
  /* country-flag */
  .country-flag{
    width: 53px;
    height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .country-flag img{
    width: 17px;
  }
  .para-country p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  /* user-info-holder */
  .user-info-holder{
    height: 40px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .user-info-holder .para1{
    font-size: 0.6rem;
  }
  .user-info-holder .para2{
    font-weight: 700;
    font-size: 0.7rem;
  }
  /* return */
  .return{
    height: 40px;
    margin-left: 2px;
  }
  .return .para1{
    font-size: 0.6rem;
  }
  .return .para2{
    font-weight: 700;
    font-size: 0.7rem;
  }
  /* cart-container */
  .cart-container{
    height: 35px;
  }
  .cart-container img{
    width: 33px;
    height: 22px;
    margin-top: 7px;
  }
  /*  */
  .second-header-section-big{
    height: 24px;
  }
  .image-and-all{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    width: 50px;
    height: 90%;
  }
  .image-and-all img{
    height: 10px;
    width: 15px;
  }
  .image-and-all p{
    margin-left: 5px;
    font-size: 11px;
  }
  .paragraph-container p{
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media screen and (max-width:700px){
  .first-header-section-big{
    height: 40px;
  }
  .first-grid-big{
    height: 35px;
  }
  .imgae-holder-big{
    width: 80px;
  }
  .deliver-to-paragraph .para1{
    font-size: 0.5rem;
  }
  .deliver-to-paragraph .para2{
    font-size: 0.65rem;
  }
  /*  */
  .searh-holder{
    height: 29px;
    padding-left: 5px;
    padding-right: 3px;
  }
  .searh-holder input{
    height: 35px;
  }
  .select{
    height: 35px;
  }
  .search-icon-holder{
    height: 35px;
  }
  /* last-layer-of-first-header */
  .last-layer-of-first-header{
    /* background-color: red; */
    width: 229px;
  }
  /* country-flag */
  .country-flag{
    width: 40px;
    height: 35px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .country-flag img{
    width: 13px;
  }
  .para-country p{
    font-weight: 500;
    font-size: 9px;
  }
  /* user-info-holder */
  .user-info-holder{
    height: 35px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .user-info-holder .para1{
    font-size: 0.5rem;
  }
  .user-info-holder .para2{
    font-weight: 700;
    font-size: 0.55rem;
  }
  /* return */
  .return{
    height: 35px;
    margin-left: 2px;
  }
  .return .para1{
    font-size: 0.5rem;
  }
  .return .para2{
    font-weight: 700;
    font-size: 0.55rem;
  }
  /* cart-container */
  .cart-container{
    height: 35px;
  }
  .cart-container img{
    width: 30px;
    height: 20px;
    margin-top: 7px;
  }
  /*  */
  .second-header-section-big{
    height: 24px;
  }
  .image-and-all{
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    width: 50px;
    height: 90%;
  }
  .image-and-all img{
    height: 10px;
    width: 15px;
  }
  .image-and-all p{
    margin-left: 5px;
    font-size: 10px;
  }
  .paragraph-container p{
    font-size: 10px;
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media screen and (max-width:650px){
  .imgae-holder-big{
    width: 70px;
  }
  .deliver-to-nigeria-big{
    margin-right: 0;
  }
  .deliver-to-paragraph .para1{
    font-size: 0.5rem;
  }
  .deliver-to-paragraph .para2{
    font-size: 0.6rem;
  }
  /* last-layer-of-first-header */
  .last-layer-of-first-header{
    /* background-color: red; */
    width: 215px;
  }
  /*  */
  .country-flag{
    margin-left: 1px;
  }
  .country-flag img{
    width: 12px;
    height: 10px;
  }
  .para-country p{
    font-weight: 500;
    font-size: 7px;
  }
  /* user-info-holder */
  .user-info-holder{
    height: 35px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .user-info-holder .para1{
    font-size: 8px;
  }
  .user-info-holder .para2{
    font-weight: 700;
    font-size: 0.5rem;
  }
  /* return */
  .return{
    height: 35px;
    margin-left: 1px;
  }
  .return .para1{
    font-size: 8px;
  }
  .return .para2{
    font-weight: 700;
    font-size: 0.5rem;
  }
  /* cart-container */
  .cart-container{
    height: 35px;
  }
  .cart-container img{
    width: 27px;
    height: 19px;
    margin-top: 7px;
  }
  /*  */
  .image-grid-holder{
    padding-left: 5px;
    padding-right: 5px;
  }
  .image-grid-holder .div-con{
    padding-left: 3px;
    padding-right: 3px;
  }
  .image-grid-holder p{
    font-size: 10px;
  }
  .image-and-all p{
    margin-left: 5px;
    font-size: 9px;
  }
  .paragraph-container p{
    font-size: 9px;
    padding-left: 4px;
    padding-right: 4px;
  }
  /*  */
  .image-slider-holder{
    height: 150px;
  }
  /* prduct-body */
  .product-container-big{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  /* image-holder */
  .decript-grid-para{
    font-size: 12px;
  }
  /* see-more */
  .see-more{
    height: 30px;
  }
  .see-more a{
    text-decoration: none;
    font-size: 11px;
  }


  /* items-yoy-might-like */
  .insired p{
    font-size: 14px;
  }
  .insired a{
    font-size: 12px;
  }
  .image-slider-holder{
    height: 150px;
  }
  /* pointer-code */
  .left-pointer{
    height: 55px;
    width: 30px;
  }
  .left-pointer i{
    font-size: 25px;
  }
  .right-pointer{
    height: 55px;
    width: 30px;
  }
  .right-pointer i{
    font-size: 25px;
    margin-right: 10px;
  }
  /*  */
  .select{
    width: 33px;
    font-size: 9px;
  }
  .search-icon-holder{
    height: 44px;
    width: 28px;
  }
  .search-icon-holder i{
    font-size: 14px;
  }
  /* image-container */
  .background-image-container-big{
    min-width: 100%;
    height: 400px;
  }
  /* image */
  .background-image-container-big img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container-product{
    margin-top: -290px;
  }
  /* .tall-end-nav{
    position: relative;
    z-index: 30;
    margin-top: -260px;
    height: 230px;
  } */
}
@media screen and (max-width:550px){
  .first-header-section-big{
    height: 33px;
  }
  .first-grid-big{
    display: flex;
    height: 25px;
    margin-left: 8px;
  }
  .imgae-holder-big{
    width: 55px;
  }
  .deliver-to-paragraph .para1{
    font-size: 7px;
  }
  .deliver-to-paragraph .para2{
    font-size: 0.45rem;
  }
  /* last-layer-of-first-header */
  .last-layer-of-first-header{
    width: 187px;
  }
  /*  */
  .country-flag{
    height: 25px;
    width: 30px;
  }
  .country-flag img{
    width: 9px;
    height: 9px;
  }
  .para-country p{
    font-size: 6.5px;
  }
  /* user-info-holder */
  .user-info-holder{
    height: 25px;
  }
  .user-info-holder .para1{
    font-size: 7px;
    margin-bottom: 2px;
  }
  .user-info-holder .para2{
    font-size: 0.45rem;
  }
  /* return */
  .return{
    height: 25px;
  }
  .return .para1{
    font-size: 7px;
  }
  .return .para2{
    font-size: 0.45rem;
  }
  /* cart-container */
  .cart-container{
    height: 25px;
  }
  .cart-container img{
    margin-top: 4px;
    width: 22px;
    height: 15px;
  }
  /*  */
  .image-and-all p{
    font-size: 8px;
  }
  .paragraph-container p{
    font-size: 7px;
  }
  /* image-holder */
  .decript-grid-para{
    font-size: 10px;
    padding: 2px;
    height: 20px;
  }
  .image-grid-holder{
    padding-top: 2px;
    padding-bottom: 2px;
  }
  /* see-more */
  .see-more{
    height: 25px;
  }
  .see-more a{
    font-size: 9px;
  }
  /* items-yoy-might-like */
  .insired p{
    font-size: 12px;
  }
  .insired a{
    font-size: 11px;
  }
  .image-slider-holder{
    height: 120px;
  }
  /* pointer-code */
  .left-pointer{
    height: 50px;
    width: 25px;
  }
  .left-pointer i{
    font-size: 23px;
  }
  .right-pointer{
    height: 50px;
    width: 25px;
    right: 10px;
  }
  .right-pointer i{
    font-size: 23px;
    margin-right: 10px;
  }
  /*  */
  .select{
    width: 32px;
    font-size: 900px;
  }
  .search-icon-holder{
    height: 44px;
    width: 28px;
  }
  .search-icon-holder i{
    font-size: 14px;
  }
  /* image-container */
  .background-image-container-big{
    min-width: 100%;
    height: 400px;
  }
  /* image */
  .background-image-container-big img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container-product{
    top: -280px;
    padding: 10px;
  }
  
  /*  */
  .searh-holder{
    height: 24px;
  }
  .searh-holder input{
    height: 30px;
  }
  .select{
    height: 30px;
    width: 33px;
    font-size: 8px;
  }
  .search-icon-holder{
    height: 30px;
    width: 25px;
  }
}
@media screen and (max-width:499px){
  .holder2{
    display: none;
  }
}

