

.main{
  display: flex;
}
.container{
  padding-left: 20px;
  padding-right: 20px;

}

@media screen /*image-and-description*/{
  .product-holdera{
    width: 100%;
    height: 600px;
    display: flex;
    padding-top: 50px;
  }
  .image-and-description{
    width: 100%;
    display: flex;
  }
  /* image-holder */
  .image-containerb{
    flex: 3;
    /* background-color: pink; */
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
  }
  .image-holdeb{
    max-width: 430px;
  }
  .image-holdeb img{
    width: 100%;
    height: 100%;
  }
  /* image-selector */
  .image-selectorb{
    padding-top: 20px;
    display: flex;
    column-gap: 10px;
  }
  .might-like-image-holderb{
    max-width: 60px;
  }
  /*  */
  .image-holderb{
    max-width: 100%;
    background-color: #F7F5F5 ;
  }
  .image-holderb:hover{
    border: 1px solid  rgb(19, 148, 180);
    box-shadow: 0 0 3px rgb(19, 148, 180);
  }
  .image-holderb img{
    width: 100%;
    mix-blend-mode: multiply;
  }

  /* image-description */
  .image-descriptionb{
    flex: 2;
    /* background-color: green; */
    min-width: 150px;
    overflow-y: scroll;
    padding-left: 8px;
    padding-right: 8px;
  }
  .product-detailsb{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 28px;
    margin: 0;
  }

  .visit-container{
    border-bottom: 2px solid #d8d8d8;
  }
  .visit-container .visit{
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #007185;
  }
  .rating-and-others{
    display: flex;
  }
  .points-num{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  .points-num i{
    color: rgb(255, 189, 67);
    font-size: 12px;
  }
  #icon-ash{
    margin-top: 2px;
    margin-left: 3px;
    color: black;
    font-size: 15px;
  }
  .bought-past-month{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 3px;
  }
  /* shipping=container */
  .shipping-container{}
  .shipping-container h1{
    font-size: 26px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 4px;
  }
  .shipping-container .sup{
    font-size: 10px;
  }

  .shipping-container .shipping-import{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 17px;
    color: #272b2b;
    margin-top: 7px;
  }
  /*  */
  .sales-taxes{
    display: flex;
  }
  .sales-taxes i{
    margin-right: 4px;
    font-size: 13.5px;
    color: #007185;
  }
  .sales-taxes p{
    margin: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*  */
  .available{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 17px;
  }
  .green-highlight{
    color: #007185;
  }
  /* brands-container */
  .brands-container{
    display: flex;
    column-gap: 20px;
  }
  .brands-holderb{
    line-height: 20px;
  }
  .brands-holderb p{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 5px;
  }
  .brands-holder{
    line-height: 20px;
  }
  .brands-holder p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 5px;
  }

  /* second-image-descriptionb */
  .second-image-descriptionb{
    flex: 1.1;
    min-width: 200px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    padding-left: 8px;
    padding-right: 2px;
  }
  /* p-delivery-and-date */
  .p-delivery-and-date{}
  .deliveryb{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  .deliveryb .p-two{
    color: #007185;
  }
  .deliveryb .p-one{
    font-weight: 600;
  }

  /* delivery-country */
  .delivery-country{
    display: flex;
  }
  .delivery-country i{
    margin-right: 8px;
    color: #007185;
    font-size: 14px;
  }
  .delivery-country p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  .stock{
    font-family: Arial, Helvetica, sans-serif;
    color: #007600;
  }

  /* quantity-container */
  .quantity-containerb{
    margin-top: 10px;
    max-width: 470px;
    height: 35px;
    /* background-color: #FFD814; */
    background-color: #F0F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
  }
  .quantity-containerb:active{
    border: 2px solid #007185;
  }
  .quantity-containerb input{
    width: 70%;
  }
  /* add-to-cart-&-and-buy-div" */
  .add-to-cart-and-buy-divb{
    padding-top: 25px;
    height: 120px;
  }
  .add-to-cartb{
    background-color: #FFD814;
    height: 35px;
    max-width: 485px;
    margin-bottom: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .add-to-cartb p{
    cursor: pointer;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  .buy-nowb{
    background-color: #FFA41C;
    height: 35px;
    max-width: 485px;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buy-nowb p{
    cursor: pointer;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
}
@media screen /* second- */{
  .second-div-main{
    padding-top: 10px;
    padding-bottom: 50px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
  }
  .frequently{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  .frequently-bought-container{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .frequently-bought-image{
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F7F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
  }
  .frequently-bought-container .plus{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 22px;
  }
  .frequently-image{
    max-width: 120px;
    min-width: 60px;
  }
  .frequently-image img{
    width: 100%;
    mix-blend-mode: multiply;
  }
  /* add-to-all-cart-container */
  .add-to-all-cart-container{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }
  .total{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  .add-all-cart{
    width: 100%;
    background-color: #FFD814;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .add-all-cart p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
  }
}